<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <ul>
      <% messages.forEach(message => { %>
      <li class="user-message">
        <div class="user-name"><%= message.user %></div>
        <div class="user-text">
          <%= message.text %>
          <div class="date-stamp"><%= message.added.toDateString() %></div>
        </div>
      </li>
      <% }) %>
    </ul>
    <a href="/new">New Message</a>
  </body>
</html>
